<br>
<div class="container">
    <div class="row">
        <div class="col-md-5" id="leave">
            <h3>Apply for leave</h3>
            <form [formGroup]="LeaveFormGroup" #LeaveForm="ngForm" (ngSubmit)="onSubmitLeave(LeaveForm)">


                <mat-form-field>
                    <input matInput (click)="datePicker.open()" [matDatepicker]="datePicker" readonly [min]="minDate"
                        [max]="maxDate" id="date" formControlName="date" name="date" placeholder="Choose a date"
                        required>
                    <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
                    <mat-datepicker disabled=false #datePicker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Leave Type</mat-label>
                    <mat-select formControlName="leaveType" name="leaveType">
                        <mat-option value="">select an option</mat-option>
                        <mat-option [value]="leave" (click)="checkLeaveData(leave)" *ngFor="let leave of leaveTypes">
                            {{leave}}</mat-option>
                    </mat-select>
                </mat-form-field>




                <div class="row" *ngIf="checkLeaveType">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <input matInput readonly [format]="24" placeholder="Start Time" name="startTime"
                                formControlName="startTime" [ngxTimepicker]="startTimePicker">
                            <ngx-material-timepicker #startTimePicker [theme]="darkTheme">
                            </ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline">
                            <input matInput readonly [format]="24" placeholder="End Time" name="endTime"
                                formControlName="endTime" [ngxTimepicker]="endTimePicker">
                            <ngx-material-timepicker #endTimePicker [theme]="darkTheme">
                            </ngx-material-timepicker>
                        </mat-form-field>
                    </div>
                </div>

                <mat-form-field appearance="outline">
                    <mat-label>Reason for leave</mat-label>
                    <textarea matInput rows="10" formControlName="message" name="message"></textarea>
                </mat-form-field>
                <button mat-raised-button color="accent" style="width: 100%;"
                    [disabled]="!LeaveFormGroup.valid">Apply</button>
            </form>

        </div>

        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12" id="leaves">
                    <h3 style="text-align: center;">Leaves Taken</h3>


                    <form [formGroup]="LeaveSearchFormGroup" #LeaveSearchForm="ngForm"
                        (ngSubmit)="onSearchLeave(LeaveSearchForm)">
                        <div class="row">
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Select Month</mat-label>
                                    <mat-select [(ngModel)]="month" formControlName="month" name="month">
                                        <mat-option value="">select month</mat-option>
                                        <mat-option [value]="month.month" *ngFor="let month of months">
                                            {{month.monthName}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field>
                                    <mat-label>Select Year</mat-label>
                                    <mat-select [(ngModel)]="year" formControlName="year" name="year">
                                        <mat-option value="">select year</mat-option>
                                        <mat-option [value]="year" *ngFor="let year of years">
                                            {{year}}</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <button mat-raised-button color="accent"
                                    [disabled]="!LeaveSearchFormGroup.valid">Search</button>
                            </div>
                        </div>
                    </form>



                    <div *ngIf="leaves">
                        <p>Showing results for: {{month}}, {{year}}</p>
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <tr>
                                    <td>Date</td>
                                    <td>Leave Type</td>
                                    <td>Start Time</td>
                                    <td>End Time</td>
                                    <td>Reason</td>
                                </tr>
                                <tr *ngFor="let leave of leaves">
                                    <td>{{leave.date}}</td>
                                    <td>{{leave.leaveType}}</td>
                                    <td>{{leave.startTime}}</td>
                                    <td>{{leave.endTime}}</td>
                                    <td style="text-align: justify;">{{leave.message}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div *ngIf="!leaves">
                        <p style="text-align: center;">No leaves found</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>