.mat-form-field {
  width: 100%;
}
/* .message {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}

.show {
  overflow: visible;
  height: auto;
}

.show-more:hover {
  color: brown;
  cursor: pointer;
}

#tasks {
  overflow: auto;
  max-height: 500px;
}

#attendance {
  overflow: auto;
  max-height: 500px;
} */


#search-button{
  margin-top: 10px;
}