.mat-sidenav-content{
  background-color: #f7f7f7;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  /* box-shadow: 3px 0 6px rgba(0,0,0,0.24); */
}
.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  /* padding-left: 30px; */
}
.submenu.expanded {
  transform: scaleY(1);
}

/* @media (min-width: 768px) {
  .profile {
    display: none;
  }
} */
.menu-link {
  color: black;
}
/* @media (max-width: 768px) {
  .buttons {
    display: none;
  }
} */

.mat-toolbar.mat-primary {
  background: #E5918E;
  color: #fff;
}


