<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <a routerLink="/">Back</a>
            <h4>Share files with teachers</h4>
            <form novalidate [formGroup]="SharedFileFormGroup" #SharedForm="ngForm" (ngSubmit)="shareFileHandler()">

                <ngx-select-dropdown (change)="selectionChanged($event)" name="sharedPeople"
                    formControlName="sharedPeople" [multiple]="true" [config]="config" [options]="dropdownOptions">
                </ngx-select-dropdown>
                <br>
                <mat-form-field appearance="outline">
                    <mat-label>Write message</mat-label>
                    <textarea matInput name="message" rows="5" formControlName="message"
                        [(ngModel)]="message"></textarea>
                </mat-form-field>
                <br>
                <input type="file" formControlName="upload" name="upload" class="input" required
                    (change)="onFileSelected($event)">

                <br>
                <br>
                <button style="width:100%" mat-raised-button [disabled]="!SharedFileFormGroup.valid"
                    color="accent">Share File</button>
            </form>
        </div>

        <div id="shared" class="col-md-6">

            <h4>Shared Files</h4>
            <mat-tab-group class="mat-tab-groups" mat-align-tabs="center">
                <mat-tab class="mat-tab" label="Shared with me">
                    <ng-template matTabContent>



                        <div *ngIf="sharedFiles">
                            <div *ngFor="let share of sharedFiles">
                                <mat-card>
                                    <b>Shared by:</b> {{share.username}} ({{share.ownerName}})
                                    <span style="float: right;">
                                        <a [href]="share.fileUrl" target="_blank">
                                            <button color="accent" mat-fab><i class="material-icons">
                                                    cloud_download
                                                </i></button>
                                        </a>
                                    </span>

                                    <br>
                                    <strong>Message:</strong> {{share.message}}<br>
                                    <p class="date-font"> {{share.createdAt | date: 'medium'}}</p>
                                </mat-card>
                            </div>
                        </div>

                        <div *ngIf="!sharedFiles">
                            <br>
                            <p style="text-align: center;">No Files has shared</p>
                        </div>


                    </ng-template>
                </mat-tab>
                <mat-tab class="mat-tab" label="Shared Files">
                    <ng-template matTabContent>
                        <div *ngIf="ownSharedFiles">

                            <div *ngFor="let share of ownSharedFiles">
                                <mat-card>
                                    <b>Shared by:</b> {{share.ownerName}}
                                    <span style="float: right;">
                                        <a [href]="share.fileUrl" target="_blank">
                                            <button color="accent" mat-fab><i class="material-icons">
                                                    cloud_download
                                                </i></button>
                                        </a>
                                    </span><br>
                                    <p>
                                        <strong>Message:</strong> {{share.message}}<br>
                                    </p>
                                    <div><b>Share with:</b></div>
                                    <div *ngFor="let list of share.sharedPeople;let i=index">
                                        <div>{{i+1}}) {{list}}</div>
                                    </div>
                                    <p class="date-font"> {{share.createdAt | date: 'medium'}}</p>
                                </mat-card>
                            </div>
                        </div>


                        <div *ngIf="!ownSharedFiles">
                            <br>
                            <p style="text-align: center;">No Files has been shared</p>
                        </div>

                    </ng-template>
                </mat-tab>

            </mat-tab-group>

        </div>
    </div>
</div>