<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pdfFile" [innerHTML]="html"></div>
            <div class="top-layer" (contextmenu)="checkClick($event)">
                <img height="600" width="450"
                    src="https://img.freepik.com/free-photo/wall-wallpaper-concrete-colored-painted-textured-concept_53876-31799.jpg?size=626&ext=jpg">
            </div>
        </div>
    </div>
    <button mat-stroked-button (click)="goBack()">Home</button>
</div>