<div class="container">
  <div class="row">
    <div class="col-sm-12" style="margin: 0 auto;text-align:center">
      <i class="material-icons" id="close" (click)="closeDialog()">
        close
      </i>
      <h4 cdkFocusInitial>Get access to the premium features to the Ninemiles</h4>
      <p>Unlock all the tests</p>
      <img src="../../../../assets/card.png">
      <br>
      <br>
      <button (click)="payment()" color="primary" mat-raised-button style="width: 100%">Pay <i class="material-icons">
          payment
        </i></button>
    </div>
  </div>
</div>