.heading {
  text-align: center;
  margin: 10px 0;
}
.items,
.table-primary {
  text-align: center;
  margin: 0 auto;
}
.mat-tab-groups {
  max-height: 90vh;
  overflow: auto;
}
.marks {
  border: solid 1px black;
  padding: 5px;
  background-color: white;
  margin-top: 30px;
}
