<br>
<br>
<div class="container">


  <div class="row">
    <div class="col-sm-12" style="margin: 0 auto;">
      <app-profile></app-profile>
      <hr>
    </div>
    <div style="margin: 0 auto;" *ngIf="userType==='Academic Student' || userType==='General Student'">
      <button mat-raised-button routerLink="/marks-sheet"><img src="../../assets/document.png">Marks Sheet</button>
    </div>
    <div class="col-sm-12" style="text-align: center">
      <div *ngIf="userType==='Academic Student' || userType==='General Student'">
        <app-progress></app-progress>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-12">
      <div *ngIf="userType==='Academic Student' || userType==='General Student'">

        <h4>Mock Tests</h4>
        <div *ngFor="let tests of testDetails">
          <mat-card>
            <img src="../../assets/test.png" class="writing-icon">
            <b>
              Test {{tests.testNumber}}
            </b>
            <button mat-raised-button [routerLink]="['/section']" [queryParams]="{testNumber:tests.testNumber}">
              Take Test
              <img src="../../assets/paper-plane.png"></button>

          </mat-card>
          <br>
        </div>
      </div>


      <div class="user" *ngIf="userType==='Admin'">
        <h2>Admin User</h2>
        <button routerLink="/admin-panel" mat-stroked-button color="primary">Admin Panel<i class="material-icons">
            arrow_right_alt
          </i></button>
        <br><br><br>
      </div>
      <div class="user" *ngIf="userType==='Teacher'">
        <h2>Teacher</h2>
        <button routerLink="/teacher" mat-stroked-button color="primary">Teacher Panel<i class="material-icons">
            arrow_right_alt
          </i></button>
        <br><br><br>
      </div>

      <div class="icon" style="text-align: center;">
        <i class="material-icons">
          emoji_people
        </i>
        <a (click)="raiseIssue()">Raise an issue</a>
      </div>
      <br>
      <br>
      <br>


    </div>
  </div>

</div>